body {
  padding-top: 50px;
  padding-bottom: 20px;

}

#us{
	height: 250px;
	padding 1px;
	margin: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-left: center;
	margin-right: auto;
	width: 50%;
}

#spreadsheet{
	height: 250px;
	padding 1px;
	margin: 0px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-left: auto;
	margin-right:center;
	width: 50%;

}

footer{
	font-size: 12px;
	font-family: Times, serif;
	border-top-padding: 1px;
	border-top-color:#D3D3D3;
	border-top-style: solid;
	border-top-width: thin;
	position: relative;;
	text-indent: 2px;
	margin-top: 30px;
	width: 79%;
	margin-left: 11%;
}

#jumbotron{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: 20px;
}

#jumbotron h1{
	font-size: 50px;
	margin-bottom: 30px;
	font-weight: bold;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}